body {
  background-color: #D6EFED;
}

h1 {
  font-size: 6rem;
  font-family: 'Lobster';
  font-weight: bold;
  color: #FF0063;
  text-shadow: #FAEA48 5px 0 ;
  margin: 30px 0;
}

p {
  font-size: 3rem;
  font-family: 'Spicy Rice';
  font-weight: bold;
  color: #FF0063;
}

footer {
  font-size: 1rem;
  font-family: 'Indie Flower',cursive;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
}

img {
  padding: 0 20px;
  height: 200px;
  width: 200px;
}

/* Container */
.container{
  text-align: center;
  margin: auto;
  width: 70%;
}

.dice {
  text-align: center;
  display: inline-block;
}
